@font-face {
  font-family: Jost;
  src:
    local(Roboto-Regular),
    url(./../../public/assets/fonts/Jost-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
