*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
a {
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: baseline;
  border: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
